.mycard{
    width: 410px;
    border: 1px solid black;
    margin-right: 4px;
    margin-top: 4px;
    padding: 11px;
}

.firstgadget{
    width: 410px;
    border: 2px solid black;
    margin-right: 4px;
    padding: 11px;   
}






